h2[contenteditable="true"],
span[contenteditable="true"],
time[contenteditable="true"],
div[contenteditable="true"] { 
  padding: 10px; 
  outline: 2px dashed #CCC;

  &:hover {
    outline: 2px dashed #0090D2; 
  }
}
